body {
    background: #ECD078;
    position: relative;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

#plot {
    height: 600px;
    width: 800px;
}

canvas {
    position: relative;
    margin : 120px auto;
}
